*.sublime-project
*.sublime-workspace
.idea/*
.idea
config/unicorn.rb
config/mongoid.yml
config/deploy/*.rb
tmp/*
log/*
*.DS_Store
Gemfile.lock
.rvmrc
*.tags
*.tags_sorted_by_file
tags
data/postcodes/*.zip
data/postcodes/tmp/*.DBF
