%html
  %head
    %link{:href => 'http://getbootstrap.com/dist/css/bootstrap.min.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700&subset=latin,cyrillic-ext', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => 'http://10.0.105.15/stylesheets/application.css', :type => 'text/css', :media => 'screen, projection'}
    %link{:rel => 'stylesheet', :href => 'http://10.0.105.15/stylesheets/datepicker.css', :type => 'text/css'}
    %link{href: "http://10.0.105.15/images/favicon.ico", rel: "shortcut icon", type: "image/x-icon"}
    %script{:type => 'text/javascript', :src => "http://code.jquery.com/jquery-2.1.1.min.js" }
    %script{:type => 'text/javascript', :src => "http://10.0.105.15/javascripts/global.js" }
    %script{:type => 'text/javascript', :src => "http://10.0.105.15/javascripts/bootstrap-datepicker.js" }
    %script{:type => 'text/javascript', :src => "http://getbootstrap.com/dist/js/bootstrap.min.js" }
    %title= @title
  %body
    .navbar.navbar-default.navbar-fixed-top.navbar-inverse{:'role' => 'navigation'}
      .container-fluid
        .navbar-header
          %a.navbar-brand{ :href => "/"}Tender Crawler
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              %a{ :href => "/sources"} Sources
            %li
              %a{ :href => "/cartridges"} Cartridges
            %li
              %a{ :href => "/tenders"} Tenders
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{ :href => "/moderation/push"} Moderation
            %li
              %a{ :href => "/controls"} Controls
    .container
      .base-content
        =yield

