- @title = 'Sources list'
%h1 Sources list
.container-fluid
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %td Name
        %td Tenders count
        %td Selectors count
        %td Update frequency
    %tbody
      - @sources.each do |source|
        %tr
          %td= source.name
          %td= source.tenders.count
          %td= source.selectors.count
          %td= source.tenders_update_frequency