- @title = 'New cartridge'
%h1 New cartridge
.container-fluid
  %form.form-horizontal{:action => "/cartridges/new", :method => "post"}
    %fieldset
      .form-group
        %label.col-md-4.control-label{:for => "cartridge_name"} Name
        .col-md-4
          %input.form-control.input-md{:id => "cartridge_name", :name => "cartridge_name", :type => "text", :placeholder => "Имя заряда, может быть произвольным", :required => "", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for=> "cartridge_source"} Source
        .col-md-4
          %select.form-control{ :id => "cartridge_source", :name => "cartridge_source"}
            - @sources.each do |source|
              %option{:value => source._id, :selected => source._id.to_s == @source_id ? true : false}= source.name
      .form-group
        %label.col-md-4.control-label{:for => "cartridge_base_link"} base_link_template
        .col-md-8
          %input.form-control.input-md{:id => "cartridge_base_link", :name => "cartridge_base_link", :type => "text", :placeholder => "", :size => 20, :value => "$entity_id"}
      .form-group
        %label.col-md-4.control-label{:for => "cartridge_base_list"} base_list_template
        .col-md-8
          %input.form-control.input-md{:id => "cartridge_base_list", :name => "cartridge_base_list", :type => "text", :placeholder => "", :size => 20, :value => "$page_number"}

      .form-group
        %label.col-md-4.control-label{:for=> "cartridge_tender_type"} tender_type
        .col-md-4
          %select.form-control{ :id => "cartridge_tender_type", :name => "cartridge_tender_type"}
            %option{:value => "223", :selected => true} 223
            %option{:value => "44"} 44
      .form-group
        %label.col-md-4.control-label{:for=> "cartridge_reaping_type"} reaping_type
        .col-md-4
          %select.form-control{ :id => "cartridge_reaping_type", :name => "cartridge_reaping_type"}
            %option{:value => :page, :selected => true} page
            %option{:value => :list} list
            %option{:value => :mixed} mixed
      .form-group#list_offset
        %label.col-md-4.control-label{:for => "list_offset"} list_offset
        .col-md-2
          %input.form-control{:id => "offset_start", :name => "offset_start", :type => "text", :size => 20, :placeholder => "start"}
        .col-md-2
          %input.form-control{:id => "offset_end", :name => "offset_end", :type => "text", :size => 20, :placeholder => "end"}

      .form-group
        %label.col-md-4.control-label{:for=> "cartridge_activity"} Активность
        .col-md-4
          %select.form-control{ :id => "cartridge_activity", :name => "cartridge_activity"}
            %option{:value => "active", :selected => true} Включен
            %option{:value => "blocked"} Выключен
      .form-group
        %label.col-md-4.control-label{:for => "delay_between_tenders"} Задержка между парсингом(сек)
        .col-md-4
          %input.form-control.input-md{:id => "delay_between_tenders", :name => "delay_between_tenders", :type => "text", :size => 20, :value => 0}
    %fieldset
      %h1 Page Manager
      .form-group
        %label.col-md-4.control-label{:for=> "pm_type"} action_type
        .col-md-4
          %select.form-control{ :id => "pm_type", :name => "pm_type"}
            %option{:value => :get, :selected => true} get
            %option{:value => :js} js
            %option{:value => :click} click
      .form-group
        %label.col-md-4.control-label{:for => "pm_value"} action_value
        .col-md-6
          %textarea.form-control.input-md{:id => "pm_value", :name => "pm_value", :type => "text", :raws => 15}
      .form-group
        %label.col-md-4.control-label{:for => "pm_num_start"} page_number_start_value
        .col-md-4
          %input.form-control.input-md{:id => "pm_num_start", :name => "pm_num_start", :type => "text", :placeholder => "", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "pm_delay"} delay_between_pages
        .col-md-4
          %input.form-control.input-md{:id => "pm_delay", :name => "pm_delay", :type => "text", :placeholder => "", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "leading_zero"} leading_zero
        .col-md-4
          .checkbox
            %label.pull-left
              %input{name: "leading_zero", type: "checkbox", value: "on"} enabled

      .form-group
        .col-xs-8.col-md-offset-3
          %input.btn.btn-primary.btn-lg{:name => "submint", :type => "submit", :value => "Добавить"}

%script{:type => 'text/javascript', :src => "http://10.0.105.15/javascripts/cartridge-hide-offset.js" }
