- @title = 'View tender'
:css
  .sorted_table tr {
    cursor: pointer; }
  /* line 96, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
  .sorted_table tr.placeholder {
    display: block;
    background: red;
    position: relative;
    margin: 0;
    padding: 0;
    border: none; }
    /* line 103, /Users/jonasvonandrian/jquery-sortable/source/css/application.css.sass */
    .sorted_table tr.placeholder:before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: red;
      margin-top: -5px;
      left: -5px;
      border-right: none; }

%h1{:id => @cartridge._id}
  Priority for
  %a{:href => "/cartridges/edit/#{@cartridge._id}"}= @cartridge.name

.container-fluid
  %table.table.table-striped.table-bordered.sorted_table
    %thead
      %tr
        %td{:style => "width: 100px;"} value_type
        %td{:style => "width: 30px;"}   priority
    %tbody
      - i = 0
      - max_p = @selectors.count - 1
      - @selectors.each do |s|
        %tr.movable
          %td
            = s.value_type
            &nbsp;&nbsp;&nbsp;
            %a.btn.btn-info.btn-xs{ id: "info", href: "#", "data-target" => ".selector-info", "data-toggle" => "modal", "data-selector-id" => s._id, "xpath" => s.xpath, "css" => s.css, "date_format" => s.date_format, "link_template" => s.link_template}
              %span.glyphicon.glyphicon-info-sign
          %input{:type => "hidden",:name => s._id, :value => s.priority}
          %td.priority-value{:style => "color: red;"}= s.priority


.container-fluid
  %span.pull-right.glyphicon.glyphicon-ok.ok{:style => "color: green; display: none;"} Сохранено

.container-fluid
  .col-xs-5.col-md-offset-3
    %a.btn.btn-primary.btn-lg{:href => env['HTTP_REFERER'], :method => "get"} Назад


%script{:type => 'text/javascript', :src => "http://johnny.github.io/jquery-sortable/js/jquery-sortable.js"}
%script{:type => 'text/javascript', :src => "http://10.0.105.15/javascripts/priority-sortable.js" }

.container-fluid
  .modal.fade.selector-info{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-sm
      .modal-content.form-horizontal
        %table.table
          %tr
            %td Xpath
            %td.xpath
          %tr
            %td CSS
            %td.css
          %tr
            %td Date_format
            %td.date_format
          %tr
            %td Link_template
            %td.link_template

/ :javascript
/   var infoButton = $('.movable #info');
/   infoButton.click(function() {
/     $('.css').html($(this).attr('css'));
/     $('.xpath').html($(this).attr('xpath'));
/     $('.date_format').html($(this).attr('date_format'));
/     $('.link_template').html($(this).attr('link_template'));
/   });

