- @title = 'New source'
%h1 Новый источник
.container-fluid
  %form.form-horizontal{:action => "/sources/new", :method => "post"}
    %fieldset
      .form-group
        %label.col-md-4.control-label{:for => "source_name"} Название источника
        .col-md-5
          %input.form-control.input-md{:id => "source_name", :name => "source_name", :type => "text", :placeholder => "Имя источника, может быть произвольным", :required => "", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "source_url"} URL источника
        .col-md-5
          %input.form-control.input-md{:id => "source_url", :name => "source_url", :type => "text", :placeholder => "", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for=> "source_activity"} Активность
        .col-md-5
          %select.form-control{ :id => "source_activity", :name => "source_activity"}
            %option{:value => "active"} Включен
            %option{:value => "blocked"} Выключен
      .form-group
        %label.col-md-4.control-label{:for => "source_external_site_id"} ID во внешней базе
        .col-md-5
          %input.form-control.input-md{:id => "source_external_site_id", :name => "source_external_site_id", :type => "text", :placeholder => "", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "source_comment"} Комментарий источника
        .col-md-5
          %textarea.form-control.input-md{:id => "source_comment", :name => "source_comment", :type => "text", :raws => 15}
      .form-group
        %label.col-md-4.control-label{:for => "resque_frequency"} Кол-во минут между запуском
        .col-md-5
          %input.form-control.input-md{:id => "resque_frequency", :name => "resque_frequency", :type => "text", :value => "0", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "deep_level"} Количество парсиуемых тендеров
        .col-md-5
          %input.form-control.input-md{:id => "deep_level", :name => "deep_level", :type => "text", :value => "0", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "priority"} Приоритет
        .col-md-5
          %select.form-control{:id => "priority", :name => "priority"}
            - YAML.load_file('config/dictionaries/resque_priorities.yml').symbolize_keys!.each do |priority, params|
              - if params["type"] == "auto"
                %option{ :value => priority, :selected => priority == :normal }
                  #{params["name"]}

      .form-group
        .col-xs-5.col-md-offset-3
          %input.btn.btn-primary.btn-lg{:name => "submint", :type => "submit", :value => "Добавить"}
