- @title = 'New source'
%h1 Новый источник
.container-fluid
  %form.form-horizontal
    %fieldset
      .form-group
        %label.col-md-4.control-label Название источника
        .col-md-5
          %input.form-control.input-md{:id => "source_name", :name => "source_name", :type => "text", :placeholder => "Имя источника, может быть произвольным", :required => "", :size => 20}

      .form-group
        %label.col-md-4.control-label{:for=> "source_activity"} Активность
        .col-md-5
          %select.form-control{ :id => "source_activity", :name => "source_activity"}
            %option{:value => "active"} Включен
            %option{:value => "blocked"} Выключен

      .form-group
        %label.col-md-4.control-label{:for => "source_external_site_id"} ID во внешней базе
        .col-md-5
          %input.form-control.input-md{:id => "source_external_site_id", :name => "source_external_site_id", :type => "text", :placeholder => "", :size => 20}

      .form-group
        .col-md-5
          %input.btn{:name => "submint", :type => "submit", :value => "Добавить"}
