- @title = 'Edit selector'
%h1 Изменить селектор
.container-fluid
  %form.form-horizontal{:action => "/sources/edit/#{@source_id}/selector/#{@selector_id}", :method => "post"}
    %fieldset
      .form-group
        %label.col-md-4.control-label{:for => "selector_id"} ID
        .col-md-5
          %input.form-control.input-md{:id => "selector_id", :name => "selector_id", :type => "text", :size => 20, :value => @selector._id, readonly:true}

      .form-group
        %label.col-md-4.control-label{:for => "selector_value"} value_type
        .col-md-5
          %input.form-control.input-md{:id => "selector_value", :name => "selector_value", :type => "text", :size => 20, :value => @selector.value_type}

      .form-group
        %label.col-md-4.control-label{:for => "selector_link"} link_template
        .col-md-5
          %input.form-control.input-md{:id => "selector_link", :name => "selector_link", :type => "text", :size => 20, :value => @selector.link_template}

      .form-group
        %label.col-md-4.control-label{:for => "selector_xpath"} xpath
        .col-md-5
          %input.form-control.input-md{:id => "selector_xpath", :name => "selector_xpath", :type => "text", :size => 20, :value => @selector.xpath}

      .form-group
        %label.col-md-4.control-label{:for => "selector_css"} css
        .col-md-5
          %input.form-control.input-md{:id => "selector_css", :name => "selector_css", :type => "text", :size => 20, :value => @selector.css}

      .form-group
        %label.col-md-4.control-label{:for => "selector_attr"} attr
        .col-md-5
          %input.form-control.input-md{:id => "selector_attr", :name => "selector_attr", :type => "text", :size => 20, :value => @selector.attr}

      .form-group
        %label.col-md-4.control-label{:for => "selector_offset"} offset
        .col-md-5
          %input.form-control.input-md{:id => "selector_offset", :name => "selector_offset", :type => "text", :size => 20, :value => @selector.offset}

      .form-group
        %label.col-md-4.control-label{:for => "selector_regexp"} regexp
        .col-md-5
          %input.form-control.input-md{:id => "selector_regexp", :name => "selector_regexp", :type => "text", :size => 20, :value => @selector.regexp}

      .form-group
        %label.col-md-4.control-label{:for => "selector_date_format"} date_format
        .col-md-5
          %input.form-control.input-md{:id => "selector_date_format", :name => "selector_date_format", :type => "text", :size => 20, :value => @selector.date_format}

      .form-group
        %label.col-md-4.control-label{:for => "selector_js_code"} js_code
        .col-md-5
          %input.form-control.input-md{:id => "selector_js_code", :name => "selector_js_code", :type => "text", :size => 20, :value => @selector.js_code}

      .form-group
        %label.col-md-4.control-label{:for => "selector_group"} group
        .col-md-5
          %input.form-control.input-md{:id => "selector_group", :name => "selector_group", :type => "text", :size => 20, :value => @selector.group}


      .form-group
        %label.col-md-4.control-label{:for => "selector_activity"} Активность
        .col-md-5
          %select.form-control{:id => "selector_activity", :name => "selector_activity"}
            %option{:value => "active", :selected => @selector.is_active ? "selected" : ""} Включен
            %option{:value => "blocked", :selected => @selector.is_active ? "" : "selected"} Выключен

      .form-group
        .col-md-5
          %input.btn{:name => "submint", :type => "submit", :value => "Сохранить"}


