- @title = 'Edit tender'
%h1 Изменить тендер [#{@source}]
.container-fluid
  %form.form-horizontal{:action => "/tenders/new", :method => "post"}
    %fieldset
      .form-group
        %label.col-md-4.control-label{:for=> "source"} Source
        .col-md-4
          %select.form-control{ :id => "source", :name => "source"}
            - Source.each do |source|
              %option{:value => source._id, :selected => source._id.to_s == @source.to_s ? true : false}= source.name
      .form-group
        %label.col-md-4.control-label{:for => "code_by_source"} code_by_source
        .col-md-5
          %input.form-control.input-md{:id => "code_by_source", :name => "code_by_source", :type => "text", :required => "", :size => 20, :value => @tender.code_by_source, readonly:true}
      .form-group
        %label.col-md-4.control-label{:for => "title"} title
        .col-md-5
          %input.form-control.input-md{:id => "title", :name => "title", :type => "text", :required => "", :size => 20, :value => @tender.title}
      .form-group
        %label.col-md-4.control-label{:for => "tender_form"} tender_form
        .col-md-5
          %input.form-control.input-md{:id => "tender_form", :name => "tender_form", :type => "text", :size => 20, :value => @tender.tender_form}
      .form-group
        %label.col-md-4.control-label{:for=> "external_work_type"} external_work_type
        .col-md-5
          %select.form-control{:id => "external_work_type", :name => "external_work_type"}
            %option{:value => "1", :selected => @tender.external_work_type == 1 ? true : false } Строительные
            %option{:value => "2", :selected => @tender.external_work_type == 2 ? true : false } Проектные
            %option{:value => "3", :selected => @tender.external_work_type == 3 ? true : false } Изыскательные
            %option{:value => "4", :selected => @tender.external_work_type == 4 ? true : false } Поставка
            %option{:value => "5", :selected => @tender.external_work_type == 5 ? true : false } Сервис и ТО

      .form-group
        %label.col-md-4.control-label{:for => "customer_inn"} customer_inn
        .col-md-5
          %input.form-control.input-md{:id => "customer_inn", :name => "customer_inn", :type => "text", :placeholder => "", :size => 20, :value => @tender.customer_inn}
      .form-group
        %label.col-md-4.control-label{:for => "customer_name"} customer_name
        .col-md-5
          %input.form-control.input-md{:id => "customer_name", :name => "customer_name", :type => "text", :placeholder => "", :size => 20, :value => @tender.customer_name}
      .form-group
        %label.col-md-4.control-label{:for => "customer_address"} customer_address
        .col-md-5
          %input.form-control.input-md{:id => "customer_address", :name => "customer_address", :type => "text", :placeholder => "", :size => 20, :value => @tender.customer_address}
      .form-group
        %label.col-md-4.control-label{:for => "id_by_source"} id_by_source
        .col-md-5
          %input.form-control.input-md{:id => "id_by_source", :name => "id_by_source", :type => "text", :placeholder => "", :size => 20, :value => @tender.id_by_source}
      .form-group
        %label.col-md-4.control-label{:for => "group"} group
        .col-md-5
          %select.form-control{ :id => "group", :name => "group"}
            %option{:value => "223", :selected => @tender.group.to_s == "223" ? true : false } 223
            %option{:value => "44", :selected => @tender.group.to_s == "44" ? true : false } 44
      .form-group
        %label.col-md-4.control-label{:for => "start_at"} start_at
        .col-md-5
          %input.form-control.input-md.datepicker{:id => "start_at", :name => "start_at", :type => "text", :value => @tender.start_at}
      .form-group
        %label.col-md-4.control-label{:for => "published_at"} published_at
        .col-md-5
          %input.form-control.input-md.datepicker{:id => "published_at", :name => "published_at", :type => "text", :value => @tender.published_at}
      / .form-group
      /   %label.col-md-4.control-label{:for => "group"} Documents
      /   .col-md-2
      /     %input.form-control.input-md{:id => "doc_title", :name => "doc_title", :type => "text", :placeholder => "doc_title", :size => 20, :value => @tender.documents.nil? ? "" : @tender.documents.first["doc_title"]}
      /   .col-md-3
      /     %input.form-control.input-md{:id => "doc_link", :name => "doc_link", :type => "text", :placeholder => "doc_link", :size => 20, :value => @tender.documents.nil? ? "" : @tender.documents.first["doc_link"]}



      .form-group
        .col-xs-8.col-md-offset-3
          %input.btn.btn-primary.btn-lg{:type => "submit", :value => "Сохранить"}
          %a.btn.btn-danger.btn-lg{:href => "/tenders/#{@tender._id}/destroy", :name => "delete", :type => "submit", :value => "Удалить", :method => "get", :onclick => "return ORLY();"} Удалить


:javascript
  $('.datepicker').datepicker({
    format: 'dd.mm.yyyy',
    language: 'ru',
    autoclose: true,
    todayHighlight: true,
    weekStart: 1
  });

