- @title = 'New tender'
%h1 Новый тендер
.container-fluid
  %form.form-horizontal{:action => "/tenders/new", :method => "post", :id => "new_tender"}
    %fieldset
      .form-group
        %label.col-md-4.control-label{:for=> "source"} Source
        .col-md-4
          %select.form-control{ :id => "source", :name => "source"}
            - Source.each do |source|
              %option{:value => source._id, :selected => source._id.to_s == params[:source_id] ? true : false}= source.name
      .form-group
        %label.col-md-4.control-label{:for => "code_by_source"} code_by_source
        .col-md-5
          %input.form-control.input-md{:id => "code_by_source", :name => "code_by_source", :type => "text", :required => "", :size => 20}
        .col-md-1
          %button.btn.btn-info.btn-small#check{:type => "button"} Проверить
      .form-group
        %label.col-md-4.control-label{:for => "title"} title
        .col-md-5
          %input.form-control.input-md{ id: "title", name: "title", type: "text", size: 20, value: @tender.title }
      .form-group
        %label.col-md-4.control-label{:for => "tender_form"} tender_form
        .col-md-5
          %input.form-control.input-md{ id: "tender_form", name: "tender_form", type: "text", size: 20, value: @tender.tender_form }
      .form-group
        %label.col-md-4.control-label{:for=> "external_work_type"} external_work_type
        .col-md-5
          %select.form-control{:id => "external_work_type", :name => "external_work_type"}
            %option{:value => "1"} Строительные
            %option{:value => "2"} Проектные
            %option{:value => "3"} Изыскательные
            %option{:value => "4"} Поставка
            %option{:value => "5"} Сервис и ТО


      .form-group
        %label.col-md-4.control-label{:for => "source_link"} source_link
        .col-md-5
          %input.form-control.input-md{:id => "source_link", :name => "source_link", :type => "text", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "customer_inn"} customer_inn
        .col-md-5
          %input.form-control.input-md{ id: "customer_inn", name: "customer_inn", type: "text", placeholder: "", size: 20, value: @tender.customer_inn }
      .form-group
        %label.col-md-4.control-label{:for => "customer_name"} customer_name
        .col-md-5
          %input.form-control.input-md{ id: "customer_name", name: "customer_name", type: "text", placeholder: "", size: 20, value: @tender.customer_name }
      .form-group
        %label.col-md-4.control-label{:for => "customer_address"} customer_address
        .col-md-5
          %input.form-control.input-md{ id: "customer_address", name: "customer_address", type: "text", placeholder: "", size: 20, value: @tender.customer_address }
      .form-group
        %label.col-md-4.control-label{:for => "start_price"} start_price
        .col-md-5
          %input.form-control.input-md{ id: "start_price", name: "start_price", type: "text", placeholder: "", size: 20, value: @tender.start_price }
      .form-group
        %label.col-md-4.control-label{:for => "id_by_source"} id_by_source
        .col-md-5
          %input.form-control.input-md{:id => "id_by_source", :name => "id_by_source", :type => "text", :placeholder => "", :size => 20}
      .form-group
        %label.col-md-4.control-label{:for => "group"} group
        .col-md-5
          %select.form-control{ :id => "group", :name => "group"}
            %option{:value => "223", :selected => true} 223
            %option{:value => "44"} 44
      .form-group
        %label.col-md-4.control-label{:for => "start_at"} start_at
        .col-md-5
          %input.form-control.input-md.datepicker{:id => "start_at", :name => "start_at", :type => "text", :required => ""}
      .form-group
        %label.col-md-4.control-label{:for => "published_at"} published_at
        .col-md-5
          %input.form-control.input-md.datepicker{:id => "published_at", :name => "published_at", :type => "text", :required => ""}
      .form-group
        %label.col-md-4.control-label{:for => "group"} Documents
        .col-md-2
          %input.form-control.input-md{:id => "doc_title", :name => "doc_title", :type => "text", :placeholder => "doc_title", :size => 20}
        .col-md-3
          %input.form-control.input-md{:id => "doc_link", :name => "doc_link", :type => "text", :placeholder => "doc_link", :size => 20}



      .form-group
        .col-xs-8.col-md-offset-3
          %input.btn.btn-primary.btn-lg{:name => "submit", :type => "submit", :value => "Добавить"}

:javascript
  $('.datepicker').datepicker({
    format: 'dd.mm.yyyy',
    language: 'ru',
    autoclose: true,
    todayHighlight: true,
    weekStart: 1
  });

  $('#check').click(function( event ) { event.preventDefault(); return CheckSourceCode(); });
  $('#new_tender').submit(function( event ) { if (!CheckSourceCode(true)) {event.preventDefault()}; });

  function CheckSourceCode(submit = false) {
    url = 'check?source_id=' + $('#source').val() + '&code_by_source=' + $('#code_by_source').val();

    $.ajaxSetup({
        async: false
    });

    result = false;

    t = $.getJSON(url, function(data) {
      if (data.result != '0') {
        window.location.replace('edit/' + data.result);
      } else if (submit == false) {
        $('#check').text('Тендера не существует').removeClass('btn-info').addClass('btn-success');
        setTimeout(function(){
          $('#check').text('Проверить').delay( 3000 ).removeClass('btn-success').addClass('btn-info');
        }, 2000);
      } else {
        result = true;
      }
    });

    return result;
  }
